<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="true">
	<filter>
		<whitelist>
			<directory>..</directory>
			<exclude>
				<directory>../test</directory>
				<directory>../test-old</directory>
			</exclude>
		</whitelist>
	</filter>
	<testsuites>
		<testsuite name="pQuery test suite">
			<directory suffix=".php">.</directory>
			<exclude>
				<file>config.php</file>
			</exclude>
		</testsuite>
	</testsuites>
	<logging>
		<log type="coverage-html" target="coverage" charset="UTF-8" highlight="true" />
	</logging>
</phpunit>